#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 1.2em;
}

.read-the-docs, label {
  color: #888;
  min-height: 10ex;
  padding: 0em 1em;
}

.important {
  font-size: 1.5em;
  font-weight: bold;
  padding: 0.2em;
}
